/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 16, 2023, 9:46:45 PM
    Author     : 63955
*/

body{
    background: linear-gradient(145deg, #90ee90, #D6C9AE, #33C4FF);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}


.box {
    width: 70%;
    border-radius: 5px;
    border-radius: 10px;
    margin:auto;
    border: solid #e8eff0 0px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    background: linear-gradient(270deg, #90ee90, #D6C9AE, #33C4FF);
}


.form1 form{
    background-color: white;
    border-top: solid #CCCCCC 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 8%;
    padding-right: 8%;
}

.form2 {
    padding: 10px;
}


.formTitle{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}


.saveButton {
    display: flex;
    padding: 7px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    border-top: solid white 1px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
}

label.error{
    color: red;
    display: block;
    font-size: 14px;
}