:root{
    --cyan:#89e5fc;
    --red:#F71818;
    --peach:#FFE5B4;
}
body{
    background-color: antiquewhite;
}
/*navbar start*/

.navbar {
  background-color: #d5f0f1;
}

.navbar-brand img {
  height: 40px;
  margin-right: 10px;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover,
.nav-item.active .nav-link {
  background-color: var(--peach) !important;
    height: 100% !important;
}
    
.navbar-collapse {
  margin-top: 10px;
}

.navbar-nav .nav-link {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #fff;
}

.navbar-nav .nav-link:last-child {
  border-bottom: none;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
  } 

  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/*navbar end*/
/*header start*/
#header{
    background: url(/img/bg.jpg) top/cover no-repeat;}
/*header end*/
.btn:not(.nav-btns button){
    background-color: white;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    background-color: peachpuff;
    color: #fff;
    border-color: var(--cyan);
}
.carousel-inner h1{
    font-size: 60px;
    font-family: var(--lg-font);
}
.carousel-item .btn{
    border-color: #fff!important;
}
.carousel-item .btn:hover{
    border-color: pink!important;
}
/*Item Collection*/
.title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--cyan);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    }
.active-filter-btn{
    background-color: var(--cyan)!important;
    color: #fff!important;
    border-color: var(--cyan)!important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.text-primary{
    color:var(--red)!important;    
}
